.action-node {
    border-width: 2px;
    border-radius: 6px;
    -unity-text-align: middle-center;
}

.action-node-label {
    color: black;
    height: 38px;
    -unity-font-style: bold;
}

.action-node-unselected {
    border-color: #0b1672;
    background-color: #2e5be3;
}

.action-node-selected {
    border-color: #4983ef;
    background-color: #a6b7f3;
}

.action-node-activating-link {
    border-color: #50e4fc;
    background-color: #b1b9fc;
}