# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.HollowForest.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\dszab\Documents\2. Unity Projects\HollowForest\.idea\.idea.HollowForest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
